@keyframes heartfull {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

.favori {
    display: flex;
    position: relative;
    cursor: pointer;

    .empty {
        font-size: 30px;
        visibility: visible;
    }

    .full {
        font-size: 30px;
        position: absolute;
        visibility: hidden;
    }

    &:hover .empty {
        font-size: 30px;
        visibility: hidden;
    }

    &:hover .full {
        font-size: 30px;
        position: absolute;
        animation: heartfull 1s cubic-bezier(.35, 0, 1, .4) forwards;
        visibility: visible;
        color: transparent;
        background: linear-gradient($secondary, $primary);
        background-clip: text;
    }
}