/* Start Localisation */
.localisation {
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    background-color: #eaeaea;
    padding: 16px 0px;
}

/* End Localisation */

/* Start Accueil */
.accueil {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $grey;
    padding: 40px;

    h1 {
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 30px;
    }

    a {
        font-size: 15px;
        color: #FFF;
        background-image: linear-gradient($secondary, $primary);
        box-shadow: 0em 0.25em 1em rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        padding: 1em 1.5em 1em 1.5em;
        margin: auto;
        margin-bottom: 20px;

        &:hover {
            opacity: 70%;
            box-shadow: 0em 0.25em 1.5em rgba(0, 0, 0, 0.75);
        }
    }
}

/* End Accueil */

/* Start Fonctionnement */
.fonctionnement-titre {

    margin: 50px 0px 30px 20px;

    @media (min-width: 701px) {
        text-align: center;
        margin: 50px 0px 30px -20px;
    }
}

.fonctionnement {
    display: flex;
    flex-flow: wrap;
    font-size: 15px;
    padding: 0px 15px;

    &__fonction {
        position: relative;
        text-align: center;
        width: 330px;
        font-weight: bold;
        background-color: #F6F6F6;
        border-radius: 20px;
        border-width: 0px;
        box-shadow: 0em 0.25em 0.5em rgba(0, 0, 0, 0.25);
        padding: 30px 50px 30px 18px;
        margin: 0px 20px 20px 20px;

        &__numero {
            position: absolute;
            width: 25px;
            height: 25px;
            padding: 3px 0px;
            border-radius: 50%;
            background-color: $primary;
            color: #FFF;
            margin: auto;
            left: -10px;
            top: 25px;
        }

        &:hover {
            background-color: #f5edff;

            .fa-solid {
                color: $primary;
            }
        }

        p {
            @media (min-width: 1001px) and (max-width: 1251px) {
                margin-left: 40px;

            }
        }

        @media (max-width:700px) {
            width: 90%;
            margin: auto;
            margin-bottom: 20px;

        }

        @media (min-width: 701px) and (max-width: 1000px) {
            width: 80%;
            margin: auto;
            margin-bottom: 20px;
        }

        @media (min-width: 1001px) {
            width: 30%;
            margin: auto;
            margin-bottom: 20px;
        }
    }
}

.fa-solid {
    position: absolute;
    left: 40px;
}

/* End Fonctionnement */

/* Start Restaurants */
.section {
    margin-top: 50px;
    padding: 50px 0px;

    h2 {
        margin: 0px 0px 20px 25px;

        @media (min-width: 701px) {
            text-align: center;
            margin-left: -5px;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
    }

}

.card {

    width: 355px;
    height: 250px;
    box-shadow: 0em 0.25em 0.5em rgba(0, 0, 0, 0.25);
    background-color: #FFF;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 20px;

    @media (max-width: 700px) {
        width: 90%;
    }

    @media (min-width: 701px) and (max-width: 1000px) {
        width: 45%;
    }

    @media (min-width: 701px) and (max-width: 1250px) {
        width: 40%;
    }

    @media (min-width: 1251px) {
        width: 22%;
    }

    &:hover {
        transform: scale(1.01);
    }

    &__image {
        width: 100%;
        height: 175px;
        position: relative;

        &__bouton {
            font-weight: bold;
            background-color: $tertiary;
            color: #1b6150;
            padding: 8px 10px;
            border-radius: 3px;
            position: absolute;
            top: 12px;
            right: 12px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

}

/* End Restaurants */