footer {
    background-color: #353535;
    padding: 25px 0px 25px 0px;
    width: 100%;

    & li {
        display: flex;
        margin: 0 0 10px 20px;
        color: #FFF;
        font-weight: normal;
    }

    & a {
        text-decoration: none;
        color: #FFF;

        &:hover {
            color: #FF79DA;
        }
    }

    & .titre {
        font-family: "Shrikhand", cursive;
        font-size: 18px;
        margin-bottom: 15px;
    }
}

.fa-utensils {
    padding-right: 13px;
}

.fa-handshake-angle {
    padding-right: 8px;
}